format: yaml
interactive: true
progress: true
verbose: true
git:
    autoAdd: true
    autoPush: true
    autoCommit: true
diff:
    command: "zeditor"
    args:
    - "--wait"
    - "--diff"
edit:
  watch: true
