README.md
.trunk
.github
.gitignore

{{ if eq .chezmoi.os "windows" }}
.zshrc
.var/
.config/*
!.config/scoop
!.config/wezterm
!.config/atuin
Documents/*
!Documents/*PowerShell/
{{ end }}

{{ if eq .chezmoi.os "linux" }}
AppData/
OneDrive/
.docker/windows-daemon.json
  {{ if eq .chezmoi.osRelease.id "cachyos" }}
  .config/appman
  {{ end }}
{{ end }}
