[safe]
	directory = /var/home/mohamed/Development/vocalizr
[user]
	name = Mohamed Hisham Abdelzaher
	email = mohamed.hisham.abdelzaher@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
    line-numbers = true
    hyperlinks = true
    hyperlinks-file-link-format = "vscode://file/{path}:{line}"
    side-by-side = true
    true-color = always
[merge]
	conflictStyle = zdiff3
[core]
	pager = delta
	autocrlf = false
{{ if eq .chezmoi.os "windows" }}
	sshCommand = 'C:/Windows/System32/OpenSSH/ssh.exe'
{{ end }}
