version = "12"
profile = "default"
{{- if eq .chezmoi.os "windows" -}}
default_toolchain = "stable-x86_64-pc-windows-msvc"
{{- if eq .chezmoi.os "linux" -}}
default_toolchain = "stable-x86_64-unknown-linux-gnu"
{{- end -}}
